<div class="md:mt-50">
    <div class="flex justify-center items-center m-7 max-sm:justify-center">
        <form #myForm="ngForm" (ngSubmit)="myForm.resetForm()" class="max-sm:flex max-sm:flex-col max-sm:items-center max-sm:justify-center max-sm:m-20 md:text-xl">
            <input type="text" name="myForm" [(ngModel)]="taskName" placeholder="Enter task name" class="lg:w-xl lg:h-16 border-2 rounded-2xl border-gray-300 p-4 mr-5 placeholder:text-gray-400"/>
            <button type="submit" class="bg-blue-500 p-5 text-white rounded-2xl max-sm:mt-5 md:text-xl" (click)="addTask()">Submit</button>
        </form>
    </div>


    <div class="grid grid-cols-2 max-lg:gap-5 md:gap-5 md:m-30 md:text-2xl lg:m-25 lg:gap-5 overflow-hidden max-sm:flex max-sm:flex-col max-sm:items-center max-sm:text-xl">
        
            <div class="text-left text-wrap flex flex-col border-2 border-gray-300 rounded-xl p-10 max-sm:w-3/4">
                <h2 class="border-gray-300 lg:text-3xl mb-8">Pending</h2>
                <ul>
                    <li *ngFor="let item of taskList" class="flex items-center">
                        <input type="checkbox" id="task" name="task" class="mr-5 size-5" (click)="addToComplete()">
                        <label for="task" class="text-2xl">{{ item }}</label>
                    </li>
                </ul>
            </div>
        
        
            <div class="text-left text-wrap flex flex-col border-2 border-gray-300 rounded-xl p-10 max-sm:w-3/4">
                <h2 class="lg:text-3xl border-gray-300 mb-8">Completed</h2>
                <ul>
                    <li *ngFor="let item of completedTaskList" class="flex items-center">
                        <input type="checkbox" name="completedTask" id="completedTask" class="mr-5 size-5" checked disabled>
                        <label for="completedTask" class="text-2xl line-through">{{ item }}</label>
                    </li>
                </ul>
            </div>
        
    </div>
</div>